

<h1>{{title}}</h1>
<div class="container" style="margin-bottom: 15px;">
  <label for="user" class="control-label">Seleccione el profesional</label>
  <select class="form-control"  name="user" [(ngModel)]="user"  (change)="goToCalendar(user)">
    <option *ngFor="let i of users" [ngValue]="i">{{i.name}}</option>
  </select>
</div> 
<hr>

<router-outlet></router-outlet>

<!--
  [routerLink]="['/dashboard']" 
<div class="container" style="margin-bottom: 15px;">
  <div class="btn-toolbar bs-component" style="margin: 0;">
    <div class="btn-group">
      <a  class="btn btn-default">Seleccione</a>
      <a  class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
      <ul class="dropdown-menu" *ngFor="let user of users">
        <li role="presentation"><a role="item" [routerLink]="['/dashboard/dashboard', user._id]">{{user.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>



<div class="table-responsive">
    <table> 
    <tr *ngFor="let user of users">
      <td><a role="item" [routerLink]="['/dashboard/dashboard', user._id]">{{user.name}}</a></td>
     </tr>
    </table>
        <router-outlet></router-outlet>
    </div> -->