h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.external-event {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
}
/* @import './modules/month/calendar-month-view';
@import './modules/week/calendar-week-view';
@import './modules/day/calendar-day-view';
@import './modules/common/calendar-tooltip'; */