<div class="side-form">
<flash-messages></flash-messages>
    <h3>{{title}}</h3>
      <!-- <div class="form-inline"> -->
    <form (ngSubmit)="addMaestro()">
        <div class="form-group">
            <label for="tipo" class="control-label">tipo</label>
            <input type="text" name="tipo" [(ngModel)]="maestro.tipo" class="form-control" required="true" placeholder="Tipo" readonly="true" />
        </div>
        <div class="form-group">
            <label for="cod" class="control-label">cod</label>
            <input type="text" name="cod" [(ngModel)]="maestro.cod" class="form-control" placeholder="Código"/>
        </div>
        <div class="form-group">
            <label for="des" class="control-label">desc</label>
            <input type="text" name="des" [(ngModel)]="maestro.des" class="form-control" placeholder="Descripción"/>
        </div>
        <div class="form-group" >
            <label for="ord" class="control-label">Orden</label>
            <input type="text" name="ord" [(ngModel)]="maestro.ord" class="form-control" placeholder="Orden"/>
        </div>
        <div class="form-group" *ngIf="maestro.created_at">
                <hr>
                <label class="control-label">Fecha Creación: {{maestro.created_at| date: 'yyyy-MM-dd HH:mm a' : maestro.offset}}   //   Fecha Modificación: {{maestro.updated_at| date: 'yyyy-MM-dd HH:mm a' : maestro.offset}}</label>
            <div >
                <label for="act" class="control-label"><input type="checkbox" name="act" [(ngModel)]="maestro.act" class="form-control"/>Activo</label>
            </div>            
        </div>
        <div class="form-group">                
            <a class="btn btn-warning" [routerLink]="['/maestros/maestro', maestroTipo]">Cancelar</a>
            <!-- <button (click)="addMaestro()" class="btn btn-default">Guardar</button> -->
            <button class="btn btn-primary">Guardar</button> 
        </div>
    </form>
</div>