<div class="jumbotron text-center">
  <h2>TRANSFORMANDO EXPERIENCIAS BOGOTÁ D.C.</h2>
  <p class="lead">Centro de antención y acompañamiento psicológico especializado</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/dashboard']">Ver Agenda / Historia</a> 
    <a class="btn btn-default" [routerLink]="['/login']">Inicio</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Consultas con profesionales, especialistas y expertos</h3>
    <p>Tratamiento especializado para familias, parejas, o situaciones personales que requieren acompañamiento profesional, o solo mejorar habilidades sociales y comportamentales</p>
  </div>
  <div class="col-md-4">
    <h3>Historia clínica electrónica confidencial en línea</h3>
    <p>Contamos con la capacidad de atenderte desde otros lugares sin desplazarte de tu ciudad y manteniendo tu historial actualizado</p>
  </div>
  <div class="col-md-4">
    <h3>Agenda</h3>
    <p>Controla el tiempo y asignación de citas con nuestros profesionales, especialistas y expertos</p>
  </div>
</div>
